<div class="container content todo">
    <div class="row">
        <div class="col-md-6">
          
        </div>
        <div class="col-md-6 ">
            <span class="anchor" id="formLogin"></span>
            <div class="card	card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Whishlist</h3>
                </div>
                <div class="card-body">
                    <app-formnuevo (onItemAdded)="agregado($event)"></app-formnuevo>
                    
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">
    <div class="row">
        <app-destinoviaje *ngFor="let dato of all; let i=index" [datos]="dato" [posicion]="i+1" (clicked)="favorite(dato)" appEspiame></app-destinoviaje>
   
    </div>
    <div class="row">
        <ul >
            <li *ngFor="let up of update">{{up}}</li>
        </ul>
    </div>

</div>