<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mb-5">
    <a class="navbar-brand">Brand</a>
    <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true" [routerLink]="['/nuevo']" >Listacomponent</a>
            </li>
        </ul>
    </div>

</nav>
<router-outlet></router-outlet>