
    // marcamos el des
    <div  class="card-content" [@esFavorito]="datos.isSelect() ? 'estadoFavorito' : 'estadoNoFavorito'">
        <div class="card-img" class="p-2">
            
            <span>
                <h4></h4>
            </span>
        </div>
        <div class="card-desc">

            <h3>{{datos.nombre}}</h3>
            <h5>{{datos.url}}</h5>
            <span >
                <ul >
                    <li *ngFor="let datos of datos.ss">
                       {{datos}} 
                    </li>
                </ul>
            </span>
            <div class="row">
<div class="col"></div>
<div class="col"><a href="#" class="btn-card" (click)="ir()">Marcar</a></div>
<div class="col"></div>
</div>
         <span >
            </span>
        </div>
        <div class="row justify-content-center">
<div class="col ">
  
</div>
<div class="col">
    <p >{{posicion}}</p>   
</div>
        </div>
        <div class="container">
            <div class="row">
<div class="col-4">
    <button (click)="reset()" class="btn btn-info">Resetear</button>
</div>
<div class="col-5">
    <div class="row p-2">
    <div class="col-2" (click)="votopositivo()" appTrackerclick ele="datos_voteup header_item"> <button class="btn btn-dark" ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-suit-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
      </svg></button></div>
   <div class="col-2"></div>
   
      <div (click)="votonegativo()" class="col-2"> <button class="btn btn-danger"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-suit-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
      </svg></button></div>
    </div>
    
</div>
<div class="p-5 d-flex justify-content-center">
<h5> Votos </h5>
<br>
    {{datos.voto}}
</div> 
</div>
        </div>
        <a [routerLink]="['/destino', datos.id]">Ver!</a>
    </div>
