<form
[formGroup]="fg"
(ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." #nombre
     [formControl]="fg.controls['nombre']"
        >
        <li *ngFor="let se of search">{{se}}</li>
        <div *ngIf="fg.controls['nombre'].hasError('required')">requerido</div>
        <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">debe validarse</div>
        <div *ngIf="fg.controls['nombre'].hasError('minlongitudnombre')">El nombre debe tener al menor {{minlong}}</div>
    </div>
    <div class="form-group">
        <label for="Imagen	Url">Imagen Url</label>
        <input type="text" class="form-control" id="imagenUrl"  placeholder="Ingresar url..." #url
        [formControl]="fg.controls['url']">
    </div>
  
    <button class="btn btn-primary disabled" [disabled]="fg.invalid" *ngIf="fg.controls['nombre'].hasError('required')" >Guardar!</button>
    <button class="btn btn-primary disabled" [disabled]="fg.invalid"*ngIf="fg.controls['nombre'].hasError('invalidNombre')" >Guardar!</button>
    <button class="btn btn-primary disabled"  [disabled]="fg.invalid"*ngIf="fg.controls['nombre'].hasError('minlongitudnombre')" >Guardar!</button>
    <button class="btn btn-primary" *ngIf="fg.valid" >Guardar!</button>
</form>